.mainContainer{
  display: flex;
  gap: 45px;
}


.weatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
position: relative;
  
    text-align: center;
    background: linear-gradient(to bottom, #87CEFA, #4682B4);

    padding-left: 30px;
    padding-right: 60px;
    border-radius: 10px;
    color: white;
    max-width: 300px;
    max-height: 390px;
    
  }

  .place{
    position: absolute;
    top: 0%;
    right: 5px;
    font-size: 16px;
    padding: 10px;

  }

  .weather{
    height: 100px;
    padding-top: 10px;
   
    display: flex;
    justify-content: center;
    
  }
  
  .weatherTitle {
    font-size: 44px;
    font-weight: bold;
    margin: 2%;

  }

  .celsius{
    font-size: 30px;
    margin-top: -14px;
    position: absolute;
  }
  
  .temperature {
    font-size: 44px;
    position: relative;
  }

  .remainingData{
    display: flex;
    justify-content: space-between;
    padding-top: 40px;
    margin-left: 0%;
  }
  .otherData {
    margin: 2%;
    font-size: 20px;
    font-weight: 100;
  }
  
  .weatherIcon {
    width: 100px;
    height: 100px;
  }
  

  @media only screen and (max-width: 767px) {
    .mainContainer{
      flex-direction: column;
    }

    .weatherContainer{
      margin-top: 20px;
      
    }
    .weather{
      padding-top: 30px;
    }

    .remainingData{
      padding-bottom: 20px;
    }

  }