.weatherContainer {
    text-align: center;
    background: linear-gradient(to bottom, #87CEFA, #4682B4);
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 300px;
    margin: auto;
  }

  .weather{
    height: 100px;
   
    display: flex;
    justify-content: center;
    
    gap: 5px;
  }
  
  .weatherTitle {
    font-size: 44px;
    font-weight: bold;
    margin: 0%;
  }

  .celsius{
    font-size: 30px;
    margin-top: -14px;
    position: absolute;
  }
  
  .temperature {
    font-size: 44px;
    position: relative;
  }
  
  .weatherIcon {
    width: 100px;
    height: 100px;
  }
  