.weatherContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;

  
    text-align: center;
    background: linear-gradient(to bottom, #87CEFA, #4682B4);
    padding: 20px;
    border-radius: 10px;
    color: white;
    max-width: 300px;
    
  }

  .weather{
    height: 100px;
   
    display: flex;
    justify-content: center;
    
  }
  
  .weatherTitle {
    font-size: 44px;
    font-weight: bold;
    margin: 2%;

  }

  .celsius{
    font-size: 30px;
    margin-top: -14px;
    position: absolute;
  }
  
  .temperature {
    font-size: 44px;
    position: relative;
  }
  .otherData {
    margin: 2%;
    font-size: 24px;
  }
  
  .weatherIcon {
    width: 100px;
    height: 100px;
  }
  