
.app{
    background-image: url("https://images.pexels.com/photos/2310713/pexels-photo-2310713.jpeg");
    min-height: 100vh;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 50px;
    position: relative;
    
}

.search{
    position: absolute;
    top: 0%;

}